<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css" />
    <title>@ViewData["Title"] - ecommerce_website</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ecommerce_website.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <header class="border-bottom bg-white">
    <div class="container py-3">
        <div class="row align-items-center">
            
            <div class="col-md-2">
               <h2> AliBaba ecommers</h2>
            </div>
            
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search products...">
                    <button class="btn btn-primary" type="button">Search</button>
                </div>
            </div>
            
            <div class="col-md-4 text-end">
                <span class="me-3"><i class="fas fa-user"></i> Profile</span>
                <span class="me-3"><i class="fas fa-box"></i> Orders</span>
                <span><i class="fas fa-shopping-cart"></i> Cart (0)</span>
            </div>
        </div>
    </div>
</header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - ecommerce_website - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
